@model RentCar.Models.Response.PaginationBaseResponse<RentCar.Models.Entity.CarEntity>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col justify-start py-4 bg-athens-gray-100">
    <p class="text-4xl text-vulcan">Find Your Perfect Ride</p>
    <p class="text-pale-sky text-[16px] mt-3">Browse and filter our collection of available cars to find one that suits you.</p>

    @* filter section *@
    <form id="filterCarForm">
        <div class="grid p-4 mt-6 grid-cols-2 md:grid-cols-3 gap-4 bg-white rounded-xl">
            @* search *@
            <div class="flex flex-col justify-start gap-2">
                <label for="brand" class="text-sm text-oxford-blue">Search</label>
                <div class="bg-athens-gray-100 gap-2 p-3 rounded-lg flex flex-row items-center">
                    <i class="fa-solid fa-magnifying-glass text-gray-chateau"></i>
                    <input value="@Context.Request.Query["brand"]" name="brand" id="brand" type="text" placeholder="e.g. Toyota" class="text-sm outline-none w-full line-clamp-1 text-gray-chateau"/>
                </div>
            </div>
            @* availability *@
            <div class="flex flex-col justify-start gap-2">
                <label for="availability" class="text-sm text-oxford-blue">Availability</label>
                <div class="bg-athens-gray-100 gap-2 p-3 rounded-lg flex flex-row items-center">
                    <input value="@Context.Request.Query["availability"]" id="availability" name="availability" type="date" class="text-sm line-clamp-1 text-gray-chateau"/>
                </div>
            </div>
            @* apply filters *@
            <div class="flex flex-col justify-start gap-2">
                <p class="text-sm hidden md:block md:opacity-0 text-oxford-blue">Availability</p>
                <button type="submit" class="primary-button">Apply Filters</button>
            </div>
        </div>
    </form>

    @* LOADING UI *@
    <div id="loading" class="hidden py-10 text-center mt-6">
        <i class="fa-solid fa-spinner fa-spin text-3xl text-gray-chateau"></i>
        <p class="mt-3 text-gray-chateau">Loading cars...</p>
    </div>

    @* ERROR UI *@
    <div id="error" class="hidden mt-6">
        <div class="flex flex-col text-center justify-center">
            <p class="text-red-600 text-xl font-semibold">Oops! Something went wrong.</p>
            <p class="text-gray-500 mt-1">Please try again.</p>
            <button id="retryBtn" class="primary-button mt-4 px-10 self-center">Retry</button>
        </div>
    </div>

    @* car-list container *@
    <div id="car-list"></div>

    @section Scripts
    {
        <script>
            let lastRequest = { page: 1, brand: "", availability: "" };

            function showLoading() {
                $("#loading").removeClass("hidden");
                $("#error").addClass("hidden");
                $("#car-list").addClass("hidden");
            }

            function hideLoading() {
                $("#loading").addClass("hidden");
                $("#car-list").removeClass("hidden");
            }

            function showError() {
                $("#error").removeClass("hidden");
                $("#loading").addClass("hidden");
            }

            function loadPage(page, brand, availability) {   
                lastRequest = { page, brand, availability };

                showLoading();
                
                $.ajax({
                    url: "/Home/GetCar?page=" + page +
                    "&brand=" + encodeURIComponent(brand) +
                    "&availability=" + encodeURIComponent(availability),
                    type: "GET",
                    success: function (html) {
                        hideLoading();
                        $("#car-list").html(html);
                        $("#error").addClass("hidden");
                    },
                    error: function () {
                        showError();
                    }
                });
            }

            $(document).ready(function () {
                // initial load page
                loadPage(1, "", "");

                // intercept filter submit
                $("#filterCarForm").on("submit", function (e) {                    
                    e.preventDefault(); // prevent full page reload

                    const brand = $("#brand").val();
                    const availability = $("#availability").val();

                    loadPage(1, brand, availability)
                })

                // retry button
                $("#retryBtn").on("click", function () {
                    loadPage(lastRequest.page, lastRequest.brand, lastRequest.availability);
                });                
            });

            $(document).on("click", ".pagination-link", function () {
                const page = $(this).data("page");
                loadPage(page, lastRequest.brand, lastRequest.availability);
            });
        </script>
    }

</div>
